.lottie-animationmt-10{
}
.wrapper {
    display: grid;
    place-items: center;
  }
  .wraplot{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.typing-demo {
    width: 20ch; /*dimension of the text written*/
    animation: typing 2s steps(30), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid;
    font-family: monospace;
    font-size: 1em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }