<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet"  >
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body class="bodyLogIn">
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">
			<div class="signup">
				<form #registerForm="ngForm" (ngSubmit)="onSubmitRegister()">
					<label for="chk" aria-hidden="true">Sign up</label>
					<input type="text" name="txt" required #fname="ngModel" placeholder="First name" [(ngModel)]="user.firstname" name="firstname">
                    <input type="text" name="txt" required #lname="ngModel" placeholder="Last name" [(ngModel)]="user.lastname" name="lastname">
                    <input type="email" name="email" required #email="ngModel" placeholder="Enter your email" [(ngModel)]="user.email" name="email">
					<input type="password" name="pswd"  required #password="ngModel" type="password" 
                    placeholder="Enter your password" [(ngModel)]="user.password" name="password">
					<input type="password" name="pswd" #Cpassword="ngModel" type="password" placeholder="Confirm your password" [(ngModel)]="user.checkPassword" name="Cpassword">
					<button type="submit">Sign up</button>
                    <div class="alert" *ngIf="fname.touched && fname.errors?.['required']">
                        This field can not be empty
                    </div>
                    <div class="alert" *ngIf="lname.touched && lname.errors?.['required']">
                        This field can not be empty
                    </div>
                    <div class="alert" *ngIf="email.touched && email.errors?.['required']">
                        This field can not be empty
                    </div>
                    <div class="alert" *ngIf="email.touched && !email.errors?.['required'] && invalidEmail()" >
                        Invalid email format
                    </div>
                    <div class="alert" *ngIf="password.touched && password.errors?.['required']">
                        This field can not be empty
                    </div>
                    <div class="alert" *ngIf="password.touched && passwordhasError()">
                        <p>Your password must have min 8 characters</p>
                        <p>One lower case, upper case and numeric chars.</p>
                    </div>
                    <div class="alert" *ngIf= ></div>
				</form>
			</div>
           
			<div class="login">
				<form  #registerForm="ngForm" (ngSubmit)="onSubmit()">
					<label for="chk" aria-hidden="true">Login</label>
					<input type="email" required #email="ngModel" placeholder="Enter your email" [(ngModel)]="user.email" name="email">
					<input type="password" required #password="ngModel"  placeholder="Enter your password" [(ngModel)]="user.password" name="password">
					
                <div class="alert" text-align="center" *ngIf='error_message!=""'>
                    {{error_message}}
                </div>
                <button type="submit" >Sign in</button>
				</form>
			</div>
	</div>
</body>
</html>