<section class="form-cover">
    <div class="form-div">
    <form (ngSubmit)="onSubmit()">
        <div class="form-control">
            <input type="email" placeholder="Enter your email" [(ngModel)]="user.email" name="email">
            <i class="fa fa-envelope"></i>
        </div>
        <div class="form-control">
            <input type="password" placeholder="Enter your password" [(ngModel)]="user.password" name="password">
            <i class="fa fa-eye"></i>
        </div>
        <div class="form-control">
            <input type="checkbox" name="remember">
            <label for="name">Remember me</label>
        </div>
        <div class="form-control">
            <button type="submit">Login</button>
        </div>
        <div class="form-control button-control">
            <a routerLink="/register">Don't have an account? Register here</a>
        </div>
</form>
</div>
</section>