.button {
    background-color: #4CAF50; /* Green */
   
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
}
a{
    display: grid;
    grid-template-columns: auto auto ;
 text-decoration: none; 
}