<section class="form-cover">
    
    <div class="form-div">
        <form (ngSubmit)="onSubmit()">
        <div class="form-control">
            <input type="text" placeholder="First name" [(ngModel)]="user.firstname" name="firstname">
            <i class="fa fa-envelope"></i>
        </div>
        <div class="form-control">
            <input type="text" placeholder="Last name" [(ngModel)]="user.lastname" name="lastname">
            <i class="fa fa-envelope"></i>
        </div>
        <div class="form-control">
            <input type="email" placeholder="Enter your email" [(ngModel)]="user.email" name="email">
            <i class="fa fa-envelope"></i>
        </div>
        <div class="form-control">
            <input type="password" placeholder="Enter your password" [(ngModel)]="user.password" name="password">
            <i class="fa fa-envelope"></i>
        </div>
        <div class="form-control">
            <input type="password" placeholder="Enter your password" >
            <i class="fa fa-eye"></i>
        </div>
        <div class="form-control">
            <button type="submit" >Sign up</button>
        </div>
        <div class="form-control button-control">
            <a routerLink="/login">Already have an account? Log in here!</a>
        </div>
   
</form>
</div>
</section>